.homePage {
  background-color: #232323;
}

.bannerImage {
  background: url("https://i.imgur.com/OPdaz0v.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.companyLogo {
  background: url("https://i.imgur.com/25bcSZo.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;
  width: 30%;
  height: 295px;
  left: 35%;
  top: 50px;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}

.bannerText {
  font-family: Mason Serif Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #000000;
}

.cta {
  text-align: center;
  position: relative;

  width: 40%;
  left: 30%;
  top: 50px;

}

.btn-cta {
  position: relative;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  width: 10%;
  height: 50px;
  left: 59%;
  margin: 0;
  align-items: center;
  vertical-align: center;
  background-color: #e72510;
  top: -530px;
  font-weight: bold;
  font-size:  25px;
  font-family: Arial, Helvetica, sans-serif;

}

.featuredRecipes {
  width: 100%;
  height: 300px;
}

.appBanner {
  width: 100%;
  height: 400px;
  background: grey;
  background-image: url("https://scufgaming.com/media/wysiwyg/Content/MHW/mhwbannermobile.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-blend-mode: multiply;
}

.phoneImage {
  background: url("https://purepng.com/public/uploads/large/purepng.com-witcher-geralt-of-riviawitcherthe-witcherandrzej-sapkowskiwriterfantasy-serieswitcher-geralt-of-riviawitchersbooksmonster-hunterssupernaturaldeadly-beastsseriesvideo-gamesxbox-1701528660783gykhu.png");

  position: relative;
  width: 500px;
  height: 600px;
  left: 20%;
  top: -200px;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}

.bottomPart {
  width: 100%;
  height: 335px;
}

.highLight {
  color: white;
  font-size: 90px;
  margin-bottom: 50px;
  font-weight: bold;
  color: #e72510;
}

.ctaApp {
  text-align: left;
  position: relative;

  width: 35%;
  left: 47%;
  top: -560px;
  text-align: center;
}

.ctaText {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 35px;
  color: white;
}

.ctaText2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  color: white;
}

.ctaApp2 {
  text-align: left;
  position: relative;

  width: 35%;
  left: 49%;
  top: -120%;
}

.google-play {
  background: url("https://i.imgur.com/cFbfelG.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;
  width: 182px;
  height: 49px;
  left: 50%;
  top: -360px;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}

.app-store {
  background: url("https://i.imgur.com/fpNk9lk.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;
  width: 182px;
  height: 49px;
  left: 61%;
  top: -413px;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}

.appBanner2 {
  position: relative;
  top: 400px;
  padding-bottom: 100px;
  margin-bottom: 200px;
  background-image: url("https://i.imgur.com/vBL6a5v.jpg");
  background-blend-mode: unset;
}

.phoneImage2 {
  background: url("https://i.imgur.com/i4AmOfx.png");
}

.ctaText3 {
  color: black;
}

.highLight2 {
  color: blue;
}

.blackText {
  color: black;
}

.btn-cta2 {
  background-color: blue;
  color: white;
}

.bannerSlider {
  height: 600px;
}

.slide {
}

.slide1 {
  background: url("https://wallpaperaccess.com/full/2461309.jpg");
}

.slide2 {
  background: url("https://wallpaperaccess.com/full/2461288.jpg");
}

.slide3 {
  background: url("https://wallpaperaccess.com/full/2461317.jpg") !important;
}
