@mixin font {
  font-family: Roboto;
}

.social-media-block {
  //background: rgb(245,245,245);
  background: linear-gradient(307.42deg, #e72510 23.93%, rgba(233, 233, 233, 0) 91.63%);
  text-align: center;
  height: 286px;
}

.follow-us {
  @include font();
  margin: 2vw 0 0 0;
  padding: 5vh 0 0 0;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  color: white;
  margin-bottom: 20px;
  outline: black;
  outline-width: 15px;
  color: black;
}

.icon {
  margin: 0 1vw 7vh 1vh;
  color: white;
  //outline: 1px solid #000000;

  &:hover {
    cursor: pointer;

    color: #e72510;
    transition: all 0.2s ease;
  }
}

.icon path {
  stroke: black;
  stroke-width: 15px;
}

.adImage {
  background: url("https://i.imgur.com/MgNnsiT.png");

  position: relative;
  width: 200px;
  height: 600px;
  left: 65%;
  top: -275px;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  position: relative;
}
