@mixin font {
  font-family: Roboto;
  color: white;
}

.footer {
  background-color: #111111;
  display: flex;
  justify-content: center;
  padding: 10vh 10vh 10vh 10vh;
  height: 356px;
}

.grid-header {
  @include font();
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 2vh;
}

.grid {
  @include font();
  width: 15vw;
  margin: 0 3vw;
}

.grid:first-child {
  @include font();
  margin: 0 3vw 0 0;
}

.grid:last-child {
  @include font();
  margin: 0 0 0 3vw;
}

.item {
  @include font();
  margin-bottom: 1vh;

  &:hover {
    cursor: pointer;

    color: #e72510;
    transition: all 0.2s ease;
  }
}
.logo-container {
  height: 100%;
  width: 50px;

  .logo {
    height: 85%;
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
  }
}
